 <div class="col-sm-8 blog-main">
      
                       <nav class="blog-pagination">
                  <a class="btn btn-outline-primary" href="#">Older</a>
                  <a class="btn btn-outline-secondary disabled" href="#">Newer</a>

      
              </div><!-- /.blog-main -->
      
              <div class="col-sm-3 offset-sm-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                  <h4>About</h4>
                  <p>"'Speak now or forever hold your peace,' the words said by preachers at the end of wedding ceremonies all over the world, right before the vows. It's a last chance of protest, a moment that makes everyone's heart race, and a moment I've always been strangely fascinated by. So many fantasize about bursting into a church, saying what they kept inside for years like in the movies. In real life, it rarely happens. </p>
                  <p>Real life is a funny thing, you know. In real life, saying the right thing at the right moment is beyond crucial. So crucial, in fact, that most of us start to hesitate, for fear of saying the wrong thing at the wrong time. But lately what I've began to fear more than that is letting the moment pass without saying anything.</p>
                  <p>I think most of us fear reaching the end of our life, and looking back regretting the moments we didn't speak up. When we didn't say 'I love you'. When we should've said 'I'm sorry'. When we didn't stand up for ourselves or someone who needed help.</p>
                  <p>Words can break someone into a million pieces, but they can also put them back together. I hope you use yours for good, because the only words you'll regret more than the ones left unsaid are the ones you use to intentionally hurt someone.</p>
                  <p>What you say might be too much for some people. Maybe it will come out all wrong and you'll stutter and you'll walk away embarrased, wincing as you play it all back in your head. But I think the words you stop yourself from saying are the ones that will haunt you the longest.</p>
                  <p>So say it to them. Or say it to yourself in the mirror. Say it in a letter you'll never send or in a book millions might read someday. I think you deserve to look back on your life without a chorus of resounding voices saying 'I could've, but it's too late now.'</p>
                  <p>There is a time for silence. There is a time waiting your turn. But if you know how you feel, and you so clearly know what you need to say, you'll know it.</p>
                  <p>I don't think you should wait. I think you should <b>speak now"</b></p>
                  <p>- Taylor Swift</p>
                </div>
                
                <div class="sidebar-module">
                  <h4>Elsewhere</h4>
                  <ol class="list-unstyled social_links">
                    <li><a href="https://github.com/"><%= fa_icon "github" %></a></li>
                    <li><a href="https://twitter.com/"><%= fa_icon "twitter" %></a></li>
                    <li><a href="https://facebook.com/"><%= fa_icon "facebook" %></a></li>
                    <li><a href="https://instagram.com/"><%= fa_icon "instagram" %></a></li>
                  </ol>
                </div>
              </div><!-- /.blog-sidebar -->