<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
      <%= image_tag "Sage3circle.jpg", width: 300, alt: "profile image" %>
    </div>
    
    <div class="col-md-8">
        <p>My name is Sage Mercedes and I am a singer/songwriter. I've been singing since I was very young and have always loved music. I play guitar, piano, and sing, as well as write and record my own music in my home studio. (it's really just my bedroom but hey, you've gotta do what you've gotta do, right?) I've wanted to be a singer for as long as I can remember. But lately I've faced reality and realized that dream may not come true, and that will be okay, because, luckily, I have other passions and talents to fall back on.</p>
        <p>One of those passions is computers. For a long time I've wondered how computers work, how websites work, how it's all put together, all of it. I finally have the opportunity to learn not only how it all works, but how to do it myself! I am very happy to have this opportunity.</p>
        <p>Another one of my passions is English. I absolutely love reading and writing. I learned to read when I was 3 or 4 years old, and have been in love with it ever since. As I said before, I am a songwriter, but I would also love to be an author. </p>
    </div>
</div>
